.homeVideoContainer {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.homeVideoContainer video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  margin-bottom: 5rem;
}

.homeVideoContainer button {
  position: absolute;
  bottom: 5%;
  right: 1rem;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.buttonShopNow {
  --glow-color: rgb(255, 254, 255);
  --glow-spread-color: rgba(236, 236, 237, 0.781);
  --enhanced-glow-color: rgb(249, 243, 255);
  --btn-color: rgb(208, 188, 228);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.buttonShopNow::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.buttonShopNow:hover {
  color: #2b2b2b;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.buttonShopNow:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.homeVideoContainer button img {
  padding: 1rem 1rem;
  cursor: pointer;
}

.homeLink {
  color: #2b2b2b;
  background-color: #f1f2f6;
  border-radius: 0.1rem;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  z-index: 50;
}

.volumeSlider {
  position: absolute;
  bottom: 4rem;
  right: 5rem;
  z-index: 1;
  width: 150px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.639);
  -webkit-appearance: none;
  appearance: none;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgba(14, 13, 13, 0.757);
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .homeVideoContainer {
    width: 100%;
    height: 60vh;
    margin-bottom: 8rem;
  }
  .homeVideoContainer video {
    width: auto;
    height: auto;
  }

  .volumeSlider {
    position: absolute;
    bottom: 1.5rem;
    right: 5rem;
    z-index: 1;
    width: 150px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.639);
    -webkit-appearance: none;
    appearance: none;
  }

  .homeVideoContainer button {
    bottom: 0;
  }
}
