.homeContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
}

.inicioVideo {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

span {
  font-weight: 900;
  font-style: italic;
}

.linksContainer{
  display: flex;
  width: 100%;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.links{
  display: flex;
  width: 50%;
  flex-flow: row;
  align-items: baseline;
  justify-content: center;
  padding: 0 2rem;

}

@media screen and (max-width: 700px) {
  .homeContainer {
    margin-top: 8rem;
  }

  .linksContainer{
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    margin-top: 5rem;
  }
  

  .newsletterContainer{
    flex-flow: row;
  }

  .homeText {
    width: 100%;
  }
}
