/* Home.css */
.homeContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
}

.inicioVideo {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

span {
  font-weight: 900;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .homeContainer {
    margin-top: 8rem;
  }
}
