.itemDetailContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 55% 1fr;
  padding: 1rem 1rem;
  gap: 2rem;
  color: #f4f4f4;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);

}

.itemDetail {
  width: 50%;
  margin-top: 5rem;
}

.itemDetailImgContainer{
  display: flex;
  align-items: start;
  justify-content: center;
  aspect-ratio: 4/3;
  object-fit: contain;
  width: 100%;
}

.itemDetailImg {
  width: 60%;
  margin-left: auto;
}

.itemDetailTitle {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: 1rem 0;
}

.itemDetailPrice {
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(96, 96, 96, 0.44);
}

.paymentButtons {
  border-bottom: 1px solid rgba(136, 135, 135, 0.48);
}

.mercadoPagoBtn,
.payPalBtn {
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 1rem 0;
}

.sizeSelectorContainer {
  margin: 1rem 0;
}

.sizeSelectorContainer h3 {
  font-size: 0.8rem;
  font-size: 700;
  font-weight: 600;
  color: rgb(118, 118, 118);
  margin: 1rem 0;
}

.size-button {
  border: 1px solid rgba(96, 96, 96, 0.44);
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  color: rgba(225, 225, 225, 0.5);
  margin: 0 0.2rem;
}

.size-button.selected {
  background-color: rgba(225, 225, 225, 0.1);
}

.botonesComprarEliminar {
  display: flex;
  flex-flow: row;
  align-items: end;
}

.cantidadEnCarrito {
  color: rgb(96, 96, 96);
  padding: 1rem 0;
  border-bottom: 1px solid rgba(136, 135, 135, 0.48);
}

.eliminarDelCarrito {
  border: none;
  margin: 0 1rem;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.88);
  color: #ffffffa4;
  border-radius: 0.5rem;
}

.eliminarDelCarrito:hover {
  background-color: rgba(1, 1, 1, 0.607);
  color: #fff;
}

.itemDetailDescription {
  font-size: 0.8rem;
  font-weight: 400;
  color: #f4f4f476;
  margin: 1rem 0;
}

.itemDetailDescriptionList ul {
  margin: 1rem 2rem;
}

.itemDetailDescriptionList ul li {
  font-size: 0.8rem;
  color: rgb(136, 135, 135);
  padding: 0.1rem 0;
  line-height: 1.4;
  list-style-type: decimal-leading-zero;
}

.sizeChartContainer {
  margin: 1rem 0 2rem 0;
  width: 100%;
  border-top: 1px solid rgba(136, 135, 135, 0.48);
}

.sizeChartContainer p {
  margin: 1rem 0;
  color: rgb(136, 135, 135);
}

.sizeChartContainer ul li {
  list-style-type: square;
}

.sizeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
  margin-top: 2rem;
}

.sizeGrid>div {
  color: rgb(136, 135, 135);
  border: 1px solid rgba(136, 135, 135, 0.48);
  padding: 0.5rem 1rem;
  text-align: center;
}

.divVacio {
  background-color: rgba(128, 128, 128, 0.3);

}

.talleS {
  grid-column-start: 1;
  grid-row-start: 2;
}

.talleM {
  grid-column-start: 1;
  grid-row-start: 3;
}

.talleL {
  grid-column-start: 1;
  grid-row-start: 4;
}

.talleXL {
  grid-column-start: 1;
  grid-row-start: 5;
}

.talleXXL {
  grid-column-start: 1;
  grid-row-start: 6;
}

.longitud {
  background-color: rgba(128, 128, 128, 0.3);
  grid-column-start: 2;
  grid-row-start: 1;
}

.longitudS {
  grid-column-start: 2;
  grid-row-start: 2;
}

.longitudM {
  grid-column-start: 2;
  grid-row-start: 3;
}

.longitudL {
  grid-column-start: 2;
  grid-row-start: 4;
}

.longitudXL {
  grid-column-start: 2;
  grid-row-start: 5;
}

.longitudXXL {
  grid-column-start: 2;
  grid-row-start: 6;
}

.pecho {
  background-color: rgba(128, 128, 128, 0.3);
  grid-column-start: 3;
  grid-row-start: 1;
}

.pechoS {
  grid-column-start: 3;
  grid-row-start: 2;
}

.pechoM {
  grid-column-start: 3;
  grid-row-start: 3;
}

.pechoL {
  grid-column-start: 3;
  grid-row-start: 4;
}

.pechoXL {
  grid-column-start: 3;
  grid-row-start: 5;
}

.pechoXXL {
  grid-column-start: 3;
  grid-row-start: 6;
}

.careInstructions p {
  color: rgb(136, 135, 135);
}

.careInstructions ul li {
  list-style-type: square;
}

.itemDetailCategory {
  margin: 1rem 0;
}

.itemDetailCategory p {
  font-size: 1rem;
  color: rgb(136, 135, 135);
}


@media screen and (max-width: 700px) {

  .itemDetailContainer {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding: 0 0;
    color: #f4f4f4;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  
  }
  
  .itemDetail {
    width: 100%;
    padding: 1rem 1rem;
    margin-top: 0;
  }
  
  .itemDetailImgContainer{
    display: flex;
    align-items: start;
    justify-content: center;
  }
  
  .itemDetailImg {
    width: 100%;
    padding: 2rem 2rem;
  }

  .botonesComprarEliminar {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: center;
  }

  .eliminarDelCarrito {
    margin: 0.5rem 0;
  }
}