.itemCount {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row;
  align-items: center;
}


.cantidadSpan {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(1, 1, 1, 0.407);
}

.cantidad {
  font-size: 0.8rem;
  color: #f1f2f670;
  padding: 0.6rem 1rem;
  margin: 0 1rem;
  background-color: rgba(225, 225, 225, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.445);

}

.cantidadSpan {
  color: rgba(225, 225, 225, 0.5);
  font-size: 0.8rem;
  font-weight: normal;
  font-style: normal;
}

.btnContador {
  border: none;
  margin: 2rem 0;
  font-size: 1rem;
  background-color: transparent;
  color: #f1f2f670;
  padding: 0.5rem 1rem;
}

.btnContador:hover {
  background-color: rgba(1, 1, 1, 0.607);
  color: #f1f2f6;
}

.agregar-al-carrito {
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: transparent;
  color: #f1f2f6;
  font-size: clamp(1rem, 2vw, 1.2rem);
  background-color: rgba(225, 225, 225, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.445);
}

.agregar-al-carrito:hover {
  background-color: rgba(225, 225, 225, 0.182);
  color: #f1f2f6;
}

@media screen and (max-width: 700px) {
  .btnContador {
    order: 1;
  }

  .cantidad {
    order: 2;
  }

  .btnContador:last-of-type {
    order: 3;
  }

}