.itemCountContainer {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  margin-top: 1rem;
}

.itemCount {
  position: relative;
  display: flex;
  width: 50%;
  height: 50px;
  flex-flow: row;
  align-items: end;
}

.cantidadSpan {
  position: absolute;
  top: -2rem;
  left: 0;
  color: rgba(1, 1, 1, 0.407);
  height: 50px;
  color: rgba(225, 225, 225, 0.5);
  font-size: 0.8rem;
  font-weight: normal;
  font-style: normal;
}

.cantidad {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 0.8rem;
  color: #f1f2f6;
  padding: 1rem 2rem;
  background-color: rgba(225, 225, 225, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.445);
}

.cantidad:hover {
  background-color: rgba(225, 225, 225, 0.182);
}

.btnContador {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: #f1f2f670;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 50px;
  background-color: rgba(225, 225, 225, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.445);
}

.btnContador:hover {
  background-color: rgba(225, 225, 225, 0.182);
  color: #f1f2f6;
}

.btnContador:hover {
  color: #f1f2f6;
}

.agregar-al-carrito {
  width: 50%;
  height: 50px;
  border: none;
  margin-top: 1rem;
  background-color: transparent;
  color: #f1f2f6;
  font-size: clamp(1rem, 2vw, 1.2rem);
  letter-spacing: 2px;
  background-color: rgba(225, 225, 225, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.445);
}

.agregar-al-carrito:hover {
  background-color: rgba(225, 225, 225, 0.182);
  color: #f1f2f6;
}

@media screen and (max-width: 700px) {
  .btnContador {
    order: 1;
  }

  .cantidad {
    order: 2;
  }

  .btnContador:last-of-type {
    order: 3;
  }

}