.itemCount {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row;
  align-items: center;
  padding-bottom: 1rem; 
  margin: 0.5rem 0;
}

.cantidadSpan{
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(1, 1, 1, 0.407);
}

.cantidad {
  font-size: 0.5rem;
  color: #f1f2f670;
  border: 1px solid rgba(128, 128, 128, 0.264);
  padding: 1.2rem 1rem;
  
}

.btnContador {
  border: none;
  margin: 0.5rem 0.5rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.88);
  color: #f1f2f670;
  border: 1px solid rgba(128, 128, 128, 0.264);
  padding: 1rem 1rem;
}

.btnContador:hover {
  background-color: rgba(1, 1, 1, 0.607);
  color: #f1f2f6;
}

.agregar-al-carrito {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.88);
  color: #f1f2f6;
  font-size: clamp(1rem, 2vw, 1.2rem);
  border: 2px solid rgb(255, 255, 255);
}

.agregar-al-carrito:hover {
  background-color: rgba(1, 1, 1, 0.607);
  color: #f1f2f6;
}
