.musicItemContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicItem {
  width: 100%;
  max-width: 800px;
  /* Limita el ancho máximo del contenedor */
  height: 560px;
  background-color: #303030;
  overflow: hidden;
  /* Asegura que el contenido no se desborde */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.musicIframe {
  border: none;
  width: 100%;
  height: calc(100% - 40px);
  /* Ajusta el tamaño para dejar espacio para el enlace */
}

.BuyBtn {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: #f4f4f4;
  font-weight: 900;
  text-decoration: none;
}

.bandcampBackground:nth-last-child(1) {
  position: absolute;
  top: -120%;
  transform: rotate(-20deg);
  left: 0.5rem;
  font-weight: 500;
  color: #f4f4f41b;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.bandcampBackground:nth-last-child(2) {
  position: absolute;
  top: -120%;
  transform: rotate(-20deg);
  right: 0.5rem;
  font-weight: 500;
  color: #f4f4f41b;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}


@media (min-width: 1301px) and (max-width: 1700px) {
  .musicItem {
    height: 480px;
  }
}

@media (min-width: 701px) and (max-width: 1300px) {
  .musicItem {
    height: 520px;
  }
}

@media screen and (max-width: 700px) {
  .musicItem {
    height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .musicItem {

    height: 520px;
  }
}