.musicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.toggleViewButton {
  margin: 10px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #00abfb;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toggleViewButton:hover {
  background-color: #007bb5;
}

.musicGrid {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.musicGrid.compact .musicItem {
  height: 250px;
  width: auto;
}

.musicGrid:not(.compact) .musicItem {
  height: 500px;
  width: auto;
}

.musicItem {
  background-color: #30303062;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, height 0.3s;
}

.musicItem:hover {
  transform: scale(1.03);
}

.musicIframe {
  border: none;
  width: 100%;
  height: calc(100% - 40px);
}

.BuyBtn {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: #f4f4f4;
  font-weight: 900;
  text-decoration: none;
}

.bandcampBackground:nth-last-child(1),
.bandcampBackground:nth-last-child(2) {
  position: absolute;
  top: -120%;
  transform: rotate(-20deg);
  color: #f4f4f41b;
}

@media (min-width: 900px) {
  .musicGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .musicGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .musicGrid {
    grid-template-columns: 1fr;
  }
}