.nav {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-flow: row;
  align-items: start;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  z-index: 10000;
  background-color: #000;
  position: fixed;
  top: 0;
  transition: height 0.5s ease;
}

.nav.scrolled {
  height: 8vh;
}

.no-scroll {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #e9e9e9;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.link svg {
  margin: 0 0.5rem;
}

.brand {
  letter-spacing: 4px;
}

.navBarDesktopContainer {
  display: flex;
  width: 100%;
  height: 12vh;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 10000;
  padding: 0.5rem 0;
  position: fixed;
  top: 8vh;
  transition: height 0.8s ease;
}

.navBarDesktopContainer.scrolled {
  height: 8vh;
}

.stickySlideAnimation {
  transform: translateY(0);
  /* Asegurar que se mantenga en su lugar cuando se desplace */
}

.userMenuDesktop {
  display: flex;
  flex-flow: row;
}

.userMenuDesktop li {
  padding: 0 1rem;
  font-size: 0.8rem;
}

.navMenuDesktop {
  display: flex;
  flex-flow: row;
  list-style: none;
}

.carritoContainerDesktop li {
  padding: 0 1rem;
}

.navMenuDesktop li {
  padding: 0 1rem;
}

.navMenu,
.userMenu {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0;
}

.navMenu li,
.userMenu li {
  padding: 0 1rem;
  list-style: none;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #e9e9e9;
  margin: 3px 0;
  transition: 0.4s;
}

.mobileMenu {
  display: none;
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #e9e9e9;
  cursor: pointer;
}

.closeIcon:hover {
  color: #ffffff;
}

.carritoContainer {
  list-style: none;
}

.carritoContainerDesktop {
  border: 2px solid #f4f4f4;
}

.userMenuDesktop li {
  list-style: none;
}

@media screen and (max-width: 700px) {

  .userMenuDesktop {
    display: none;
  }

  .carritoContainerDesktop{
    display: none;
  }

  .navBarDesktopContainer {
    display: none;
  }

  .no-scroll {
    overflow: hidden;
  }

  .nav {
    padding: 1rem 2rem;
  }

  .menuIcon {
    display: flex;
  }

  .navMenu,
  .userMenu {
    display: none;
  }

  .mobileMenu.active {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    padding: 3rem 0;
    box-shadow: 0px 30px 23px -3px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden;
  }

  .mobileMenu.active ul li {
    padding: 0.5rem 0;
  }

  .mobileMenu.active .link {
    color: #e9e9e9;
  }

  .nav {
    flex-flow: row;
    justify-content: space-between;
  }

  .productosNav {
    display: none;
  }

  .menuIcon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menuIcon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menuIcon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobileMenu.active .navMenu,
  .mobileMenu.active .userMenu {
    display: flex;
    flex-direction: column;
  }
}