.newsletterContainer {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
  color: #f4f4f4;
}

.newsletterTitle {
  font-size: 1rem;
  margin-bottom: 20px;
}

.newsletterText {
  font-size: 0.8rem;
  font-weight: 200;
  padding: 0 20% 1rem;
  text-align: center;
}

.newsletterForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formGroup {
  margin-bottom: 15px;
  position: relative;
}

.formGroup input {
  max-width: 500px;
  width: 100%;
  padding: 12px;
  margin-top: 0.5rem;
  border: 3px solid #ffffffc8;
  background-color: rgba(247, 247, 247, 0.046);
  color: #f4f4f4;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 15px;
  border: none;
  background-color: #0d2a14;
  border: 3px solid #3ae01513;
  color: rgba(247, 247, 247, 0.946);
  font-size: 1em;
  cursor: pointer;
  transition: 0.4s;
}

button[type="submit"]:hover {
  background-color: #10862a;
  border: 3px solid #3ae015bb;
  transition: 0.4s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buttonSubmitting {
  background-color: #17a2b8;
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 0.6rem;
}

.errorMessage {
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  background-color: #ffd1d1dc;
  padding: 8px 10%;
  border-radius: 4px;
  border: 1px solid #ff5c5c;
  text-align: center;
  width: 200px;
  box-sizing: border-box;
  margin: 0 1rem;
  margin-top: 5px;
}

@media screen and (max-width: 700px) {
  .newsletterContainer {
    margin: 3rem 0;
  }

  .newsletterText {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0 8% 2rem;
  }
}
