.search-filters {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 10%;
}

.barraBusqueda {
  height: 40px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  padding-left: 0.3rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(128, 128, 128, 0.457);
  color: #f4f4f4;
}

.categorySelect {
  height: 40px;
  margin: 0 0;
  border: none;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  padding-left: 0.3rem;
  background-color: rgba(255, 255, 255, 0.064);
  color: #f4f4f481;
  font-size: clamp(0.8rem, 2vw, 1rem);

}

.categorySelect:focus {
  border-color: #007bff;
  outline: none;
}

option {
  color: rgb(0, 0, 0);
  /* Cambia el color del texto */
  font-weight: bold;
  /* Cambia el peso de la fuente */
}


.btnBuscar {
  height: 40px;
  border: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0 0;
  padding: 0.6rem 1rem;
  background-color: rgba(255, 255, 255, 0.064);
  color: #f4f4f481;
}

@media screen and (max-width: 700px) {
  .search-filters {
    margin-top: 18vh;
    padding: 0.5rem 0.5rem;
  }

  .categorySelect {
    width: 70%;
    display: flex;
    margin: 1rem 1rem;
  }

  .btnBuscar {
    display: block;
  }
}