.search-filters {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0.5rem 2rem;
  margin-top: 30vh;
}

.barraBusqueda {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  padding-left: 0.3rem;
  border: none;
  display: none;
}

.categorySelect {
  margin: 0 0;
  border: none;
  padding: 0.5rem 0;
  padding-left: 0.3rem;
  display: none;
  background-color: rgba(255, 255, 255, 0.137);
  color: #f4f4f481;
}

.categorySelect:focus {
  border-color: #007bff;
  outline: none;
}

option {
  color: rgb(0, 0, 0); /* Cambia el color del texto */
  font-weight: bold; /* Cambia el peso de la fuente */
}


.btnBuscar {
  border: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0 0;
  padding: 0.6rem 1rem;
  background-color: #ffffff1e;
  color: #f4f4f481;
  display: none;
}

@media screen and (max-width: 700px) {
  .search-filters {
    margin-top: 18vh;
    padding: 0.5rem 0.5rem;
  }

  .categorySelect {
    width: 70%;
    display: flex;
    margin: 1rem 1rem;
  }

  .btnBuscar {
    display: block;
  }
}